<html>

<head>
    <title>Login page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
    <link href="style2.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
</head>

<body>

    <div class="wrapper">

        <div class="login_div">
            <form method="post">

                <div class="input-field">
                    <i class="mdi-social-person-outline prefix"></i>
                    <input class="validate" class="email" type="email" placeholder="Enter Your Email">

                </div>

                <div class="input-field">
                    <i class="mdi-action-lock-outline prefix"></i>
                    <input class="password" type="password" placeholder="Password">

                </div>

                <div class="input-field">
                    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                    <label for="vehicle1">Remember</label><br>

                </div>

                <div class="input-field">
                    <button><a href=index.html>Submit</a></button>
                </div>

                <p>
                    <a href="#" class="register">Register Now!</a>
                    <a href="#" class="forgot">Forgot password?</a>
                </p>

                <br>
                <br>
            </form>
        </div>

    </div>





</body>

</html>
